<!--左侧开始-->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text" >
                                <span id="wcName">请选择公众号</span>
                            <br />
                                <small>上次登录时间 : 3天前 </small>
                            </div>
                        </div>
                    </li>

                     <li>
                        <a href="ADDWECHAT.ASP"><i class="fa fa-dashboard "></i>绑定公众号</a>
                    </li>
					<li>
                        <a href="selectWeChat.asp" class="active-menu" ><i class="fa fa-square-o "></i>选择公众号</a>
                    </li>
                    <li>
                        <a href="#"  class="active-menu-top"><i class="fa fa-desktop "></i>关注回复消息 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="panel-tabs.html"><i class="fa fa-toggle-on"></i>设置文本消息</a>
                            </li>
                            <li>
                                <a href="notification.html"><i class="fa fa-bell "></i>设置图片消息</a>
                            </li>
                             <li>
                                <a href="progress.html"><i class="fa fa-circle-o "></i>设置图文消息</a>
                            </li>
                             <li>
                                <a href="buttons.html"><i class="fa fa-code "></i>设置语音消息</a>
                            </li>
                             <li>
                                <a  href="icons.html"><i class="fa fa-bug "></i>设置视频消息</a>
                            </li>
                             <li>
                                <a href="wizard.html"><i class="fa fa-bug "></i>选择回复消息</a>
                            </li>
                             <li>
                                <a href="typography.html"><i class="fa fa-edit "></i>回复XX消息</a>
                            </li>
                             <li>
                                <a href="grid.html"><i class="fa fa-eyedropper "></i>回复XX消息</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-yelp "></i>关键词回复<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="addText.asp"><i class="fa fa-coffee"></i>添加文本消息</a>
                            </li>
                            <li>
                                <a href="addImage.asp"><i class="fa fa-flash "></i>添加图片消息</a>
                            </li>
                             <li>
                                <a href="addNews.asp"><i class="fa fa-key "></i>添加图文消息</a>
                            </li>
                             <li>
                                <a href="msgAdmin.asp"><i class="fa fa-recycle "></i>回复管理</a>
                            </li>
                            
                           
                        </ul>
                    </li>
                    <li>
                        <a href="menu.asp"><i class="fa fa-flash "></i> 自定义菜单</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>自动回复 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                           
                             <li>
                                <a href="form.html"><i class="fa fa-desktop "></i>Basic </a>
                            </li>
                             <li>
                                <a href="form-advance.html"><i class="fa fa-code "></i>Advance</a>
                            </li>
                             
                           
                        </ul>
                    </li>
                     <li>
                        <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
                    </li>
                     <li>
                        <a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
                    </li>
                    <li>
                        <a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                   
                    
                </ul>

            </div>
        </nav>
		<!--左侧结束-->